.tabs {
    &__content {
        @extend .mt-lg;
        @extend .mb-lg;
    }

    &__list {
        @extend .d-flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__link {
        @extend .mr-lg;
        color: $c-base;
        text-transform: uppercase;
        text-decoration: none;
        &.is--active {
            border-bottom: 2px solid #1d1d1d;
            color: #1d1d1d;
        }
    }

    &__body {
        transition: opacity 0.2s cubic-bezier(0.42, 0, 0.34, 1.01);
        opacity: 0;

        &:not(.is--active) {
            display: none;
        }

        &.is--show {
            opacity: 1;
        }
    }
}
