%shadow-triangle {
    box-shadow: -4px 4px 4px 0 rgba(0, 0, 0, 0.1);
}
%shadow-triangle2 {
    box-shadow: -4px 4px 4px -3px rgba(0, 0, 0, 0.1);
}

div[class*='col-md'] {
    @extend .mt-lg;
}

.section {
    @extend .py-xl;

    &:nth-child(even) {
        background-color: $c-gray-lightest;
    }
}

.container {
    @extend %container--xl;
}

.dropdown {
    position: relative;

    &__button {
        @extend .py-sm;
        @extend .px-sm;
        @extend .d-flex;
        @extend .align-items-center;
        @extend .justify-content-between;
        background: transparent;
        border: 1px solid $c-gray-light;
        height: 36px;
        width: 36px;

        &.is--active {
            .dropdown__close {
                @extend .d-flex;
                @extend .align-items-center;
            }
            .dropdown__open {
                @extend .d-none;
            }
        }
    }

    &__open {
        @extend .d-flex;
        @extend .align-items-center;
        &:before {
            @extend [class*='i-']:before;
            @extend .i-menu-2:before;
        }
    }

    &__close {
        @extend .d-none;
        &:before {
            @extend [class*='i-']:before;
            @extend .i-cancel:before;
        }
    }

    &__container {
        @extend .pt-lg;
        @extend .pb-lg;

        @extend %shadow-sm;
        background-color: $c-white;
        position: absolute;
        z-index: 1;

        &:not(.is--active) {
            display: none;
        }
    }

    &__list {
        @extend .m-0;
        @extend .px-0;
        @extend .py-0;

        list-style: none;
    }

    &__item {
        @extend .py-sm;
        @extend .px-md;
        @extend .d-block;
        border-bottom: 1px solid $c-gray-light;
        color: $c-base;
    }

    &__link {
        color: $c-base;
    }
}
