<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />

    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="description"
      content="Toggle all with one event listener. Tabs, Dropdowns, Accordions, Navigation"
    />
    <script type="module" src="./main.js" defer></script>
    <link rel="stylesheet" href="fonts.css" />
    <link rel="stylesheet" href="styles.css" />
    <title>Default Example</title>
  </head>

  <body>
    <div class="wrapper"></div>
  </body>
</html>
