<section class="section section__toggle">
  <div class="tabs container">
    <header>
      <h2>Tabs</h2>
    </header>
    <div class="tabs__content">
      <div class="tabs__list" id="myTab" role="tablist">
        <a
          class="tabs__link is--active"
          id="first-tab"
          data-toggle="#first"
          data-toggle-group="#myTab"
          data-toggle-role="tab"
          href="#first"
          role="tab"
          aria-controls="first"
          aria-selected="true"
          >Home</a
        >
        <a
          class="tabs__link"
          id="second-tab"
          data-toggle="#second"
          data-toggle-group="#myTab"
          data-toggle-role="tab"
          href="#first"
          role="tab"
          aria-controls="first"
          aria-selected="false"
          >Profile</a
        >
        <a
          class="tabs__link"
          id="third-tab"
          data-toggle="#third"
          data-toggle-group="#myTab"
          data-toggle-role="tab"
          href="#first"
          role="tab"
          aria-controls="first"
          aria-selected="false"
          >Contact</a
        >
      </div>
      <div class="tabs__content">
        <div
          class="tabs__body is--active is--show"
          role="tabpanel"
          aria-labelledby="first-tab"
          id="first"
          data-toggle-animate
        >
          <h4 class="tabs__header">Tab heading 1</h4>
          <p class="tabs__text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt
            libero ipsum, veniam magni modi exercitationem debitis ducimus
            assumenda ratione corporis, illum eius, laborum tempore cumque amet
            id perspiciatis nostrum unde?
          </p>
          <p class="tabs__text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum,
            maiores.
          </p>
        </div>
        <div
          class="tabs__body"
          role="tabpanel"
          aria-labelledby="second-tab"
          id="second"
          data-toggle-animate
        >
          <h4 class="tabs__header">Tab heading 2</h4>
          <p class="tabs__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
            odio cum eveniet excepturi eum provident molestias ad ipsa unde
            dignissimos illo porro animi earum aliquam perspiciatis id
            <a href="sdfsdf.de">oder auc </a>omnis, adipisci incidunt. Qui,
            beatae. Beatae animi totam obcaecati at quae, iste facere fuga nemo
            pariatur esse nihil?
          </p>
          <p class="tabs__text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque
            commodi eos voluptatem numquam pariatur deleniti repellat fugiat
            eligendi nulla molestiae sunt praesentium vero sequi distinctio
            error quibusdam maiores natus magnam, explicabo hic sed alias
            dolores, quis eum! Reprehenderit atque cupiditate dolorum? Saepe,
            doloribus veniam? Nulla!
          </p>
        </div>
        <div
          class="tabs__body"
          role="tabpanel"
          aria-labelledby="third-tab"
          id="third"
          data-toggle-animate
        >
          <h4 class="tabs__header">Tab heading 3</h4>
          <p class="tabs__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
            officiis voluptas maiores deserunt ullam aliquam?
          </p>
          <p class="tabs__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus,
            officia accusantium quod fuga porro eius animi earum excepturi
            omnis! Reprehenderit!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
