// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant($color, $color-hover, $background, $background-hover, $border, $border-hover) {
    background-color: $background;
    border-color: $border;
    color: $color;
    position: relative;
    text-transform: uppercase;
    z-index: 1;

    &:focus {
        background-color: $background-hover;
        border-color: $border-hover;
        color: $color-hover;
    }

    &:hover {
        background-color: $background-hover;
        border-color: $border-hover;
        color: $color-hover;
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &:hover,
        &:focus,
        &.focus {
            color: $color-hover;

            &:before {
                opacity: 0;
            }
        }
    }

    .badge {
        background-color: $color;
        color: $background-hover;
    }
}

// Button sizes
@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius, $font-weight) {
    border-radius: $border-radius;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
    padding: $padding-vertical $padding-horizontal;
}
