.select {

    &__field {
        position: relative;

        &::after {
            @extend .align-items-center;
            @extend .d-flex;
            @extend [class*='i-'];
            @extend .i-down-open:before;
            bottom: 0;
            font-size: 8px;
            padding: 0 15px;
            pointer-events: none;
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}
