$radio__color: $c-white !default;
$radio__font-size: 0.6rem !default;

$radio__before-gap: 2.2rem !default;
$radio__before-width: $radio__before-gap - 0.6rem !default;
$radio__before-height: $radio__before-width !default;

$radio__border: 1px solid $c-base !default;
$radio__border-radius: 50% !default;
$radio__border-color-focus: $c-secondary !default;
$radio__border-color-checked: $c-primary !default;

$radio__background: $c-white !default;
$radio__background-active: darken($radio__background, 5%) !default;
$radio__background-checked: $c-primary !default;
$radio__background: $c-white !default;

.radio {
    display: block;
    padding-left: $radio__before-gap;
    position: relative;

    &__field {
        opacity: 0;
        position: absolute;
        z-index: -1;

        &:checked ~ .radio__label {

            &::before {
                background-color: $radio__background-checked;
                border-color: $radio__border-color-checked;

            }

            &::after {
                @extend .i-circle:before;
            }
        }

        &:focus ~ .radio__label::before {
            @extend %box-shadow--focus;
        }

        &:active ~ .radio__label::before {
            background-color: $radio__background-active;
        }
    }
}

.radio {

    &__label {
        @extend .mb-sm;

        &::before {
            background-color: $radio__background;
            border: $radio__border;
            border-radius: $radio__border-radius;
            content: "";
            display: block;
            height: $radio__before-height;
            left: 0;
            position: absolute;
            top: 0;
            user-select: none;
            width: $radio__before-width;
        }

        &::after {
            @extend [class*='i-'];
            @extend .align-items-center;
            @extend .d-flex;
            @extend .justify-content-center;
            color: $radio__color;
            font-size: $radio__font-size;
            height: $radio__before-height;
            left: 0;
            position: absolute;
            text-align: center;
            top: 0;
            width: $radio__before-width;
        }
    }
}
